<%= form_for([@recipe, @comment], :validate => true) do |f| %>
  <p><%=f.label :comment%><br/> 
    <%= f.text_area:comment, :class => "textarea" %></p>
  <p><%=f.submit "Save Comment"%></p>
<% end %>