<%= form_for(@cuisine, :validate => true) do |f| %>
 <ul>
    <li> 
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>
  </ul>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
