/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#recipie_header{
  background-color: #577E3E;
  width: 99%;
  padding: 5px;
  height: 100px;
  #logo{
    float:left;
    width:30%;
    }
  #menu{
    float:left;
    width: 60%;
  }
  ul li{
    display: inline-block;
    background-color: #000;
    border-radius: 5px;
   -moz-border-radius: 5px; 
    padding: 5px;
    color: #fff;
    a {text-decoration: none;
      &:visited {color: #fff;}
	}
    label {display : block;
	padding: 10px 0px;
	}
    input { width: 250px;}
    }  
}
.field_with_errors {
    background-color: red;
    display: table;
    padding: 2px;
}
