/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body {
 font-size: 15px;
 font-family: tahoma;
}
#recipie_header{
  background-color: #577E3E;
  width: 99%;
  padding: 5px;
  height: 100px;
  #logo{
    float:left;
    width:30%;
    }
  #menu{
    float:left;
    width: 60%;
    ul li{
    display: inline-block;
    background-color: #000;
    border-radius: 5px;
   -moz-border-radius: 5px; 
    padding: 5px;
    color: #fff;
    a {text-decoration: none;
      &:visited {color: #fff;}
	}
   }  
  }
}
.field_with_errors {
  background-color: none;
  display: table;
  padding: 2px;
	li > label.message { display: inline-block;}
	
}
#user_new ul {
	padding: 0px;
  li.submit_btn {
    input[type=submit] { 
	background-color: #577E3E;
	-moz-border-radius: 5px;
	border-radius: 5px;
        float: right;
	margin-right: 100px;
        width: 100px;
	}
	}
	li{
    padding: 5px;
		width: 98%;
		height: 50px;
		list-style: none;
    span.msg {display: inline-block; color: #577E3E; vertical-align: 5px;}
  		label { 
  			display: block;
				margin-bottom: 5px;
				font-weight: bold;
  	}
		input {width: 200px;
			border: 1px solid #577E3E;
		}
  label.message {
		display: inline-block;
		padding-left: 10px;
    color: #C03307;
    font-weight: normal;
		&:before{content: url('error-icon.png');}
	}
	}
}
	
.popup { 
	border: 1px solid #577E3E;
	.ui-widget-header {
		background-image: none;
		background-color: #577E3E;
		border: 1px solid #577E3E;
	}
}
.field_with_errors {
    display: table;
    padding: 0px;
}
.hint {color: #ccc;}
