<div id="logo">
  <%= image_tag "logo.jpg", :size => "100x100", :alt => "Edit Entry" %>
</div>
<div id="menu">
  <ul>
  <%= render 'layouts/registration_items' %>
  <%= render 'layouts/login_items' %>

  </ul>
</div> 
