<div id="logo">
  <%= image_tag "logo.jpg", :size => "100x100", :alt => "Edit Entry" %>
</div>
<!--<div id="menu">
  <ul>
    <li><%#= link_to "Home", users_path %></li>
    <li><%#= link_to "Register", "javascript://",:id => "register" %></li>
    <li><%#= link_to "Login", new_user_path %></li>
  </ul>
</div> -->
