<% if user_signed_in? %>
  <li>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  </li>
<% else %>
  <li>
    <a href="javascript:void(0)" id='register' ">Register</a>  
</li>
<% end %>
